@font-face {
    font-family: 'Xolonium';
    src: url(assets/Xolonium-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Xolonium";
}

body {
    background-color: #d5c2d9;
}

nav {
    display: flex;
    align-items: center;
    min-height: 8vh;
    background-color: #4c005f;
}

h4 {
    display: flex;
    justify-content: flex-start;
    color: #fbfbf4;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 14px;
    width: 100%;
}

th {
    color: #fbfbf4;
    background-color: #7b4389;
    padding: 4px 4px;
    border: 3px solid #4c005f;
    font-weight: normal;
}

td {
    color: #4c005f;
    background-color: #fbfbf4;
    padding: 4px 4px;
    border: 3px solid #4c005f;
    text-align: center;
}

select {
    width: 100%;
    font-size: 14px;
    background-color: #fbfbf4;
    color: #4c005f;
    text-align-last: center;
    border: none;
    outline: none;
}

.button-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.button-list li {
    list-style: none;
}

.button-list button {
    background-color: #4c005f;
    color: #fbfbf4;
    cursor: pointer;
    white-space: nowrap;
    padding: 18px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}

.button-list button:active {
    background-color: #4c005f;
    color: #4c005f;
}

.collapsible {
    background-color: #4c005f;
    color: #fbfbf4;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.short-heading {
    display: none;
}

.short-table-row {
    display: none;
}

.numeric-table input{
    width: 100%;
    font-size: 14px;
    color: #4c005f;
    background-color: #fbfbf4;
    text-align: center;
    border: none;
    outline: none;
}

@media (max-width: 730px) {
    .long-heading {
        display: none;
    }

    .short-heading {
        display: flex;
    }

    .long-table-row {
        display: none;
    }

    .short-table-row {
        display: table-row;
    }
}